.line {
  fill: none;
  stroke-width: 2px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}
.red{
  stroke: red;
}
.orange {
  stroke: orange;
}

.green {
  stroke: green;
}
.pink {
  stroke: pink;
}
.black {
  stroke: black;
}
.purple {
  stroke: purple;
}
.brown {
  stroke: brown;
}
.blue {
  stroke: blue;
}


